<html lang="en">
<%- include('./partials/head.ejs')%>
<style>
   .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .links{
    font-size: large;
   }
    @media screen and (max-width:600px) {
        
    }
</style>
<body>
    <div class="home">
        <h1>Tables</h1>
        <ul class="links">
            <li><a href="/admin/tables/Cars">Cars</a></li>
            <li><a href="/admin/tables/mpesa_transactions">mpesa_transactions</a></li>
            <li><a href="/admin/tables/reserved_cars">reserved_cars</a></li>
            <li><a href="/admin/tables/user_contact">user_contact</a></li>
        </ul>
    </div>
    <script>
        if(!sessionStorage.getItem("token")){
            window.location.href="/admin"
        }
    </script>
</body>
</html>